B2: ETL script using Python and PETL to standardise the mileage in km.

Below program creates a new column with the mileage in kilometers in addition to the old columns.  
Program can be modified as nneeded in case the original mileage column needs to be updated.

In [4]:
import petl as etl

In [6]:
#Read tsv Data
car_ads = etl.fromtsv('donedeal_data_sample.tsv')

In [5]:
#Add a new column mileage_in_km next to the mileageType column. This initially has data that is same as mileage column. 
car_ads_2 = etl.addfield(car_ads, 'mileage_in_km', lambda rec: rec['mileage'], index=10)#
#Modify the data in mileage_in_km column, Convert miles into km by multiplying by 1.6 When mileageType is miles.
car_ads_3 = etl.convert(car_ads_2, 'mileage_in_km', 
                        lambda v, row: float(row.mileage) * 1.609344 ,
                        pass_row=True,                        
                        where=lambda r: r.mileageType.strip() == 'miles')
#Display all data along with the new column standardising mileage into kilometers
car_ads_3

+------------------------------------+--------------+---------+-------------+-----------------+-----------+--------+----------+----------+--------------+--------------------+-----------+-------------+-----------+--------------+-------+-------------+
| ad                                 | date         | price   | county      | make            | model     | year   | colour   | mileage  | mileageType  | mileage_in_km      | engine_cc | body_type   | fuel_type | transmission | doors | seller_type |
+====================================+==============+=========+=============+=================+===========+========+==========+==========+==============+====================+===========+=============+===========+==============+=======+=============+
| 'f4ec8a11c20bd4da5322c6cf48f49560' | '2016-08-12' | '1250'  | 'Tipperary' | 'ford'          | 'focus'   | '2004' | 'grey'   | '182620' | 'miles'      |       293898.40128 | '1800'    | 'saloon'    | 'diesel'  | 'manual'     | '4'   | 'feed'      |
+------------------------------------+--------------+---------+-------------+-----------------+-----------+--------+----------+----------+--------------+--------------------+-----------+-------------+-----------+--------------+-------+-------------+
| '2deccc36451be8362cd4faa696d5039c' | '2016-07-13' | '11500' | 'Limerick'  | 'mercedes-benz' | 'e-class' | '2008' | 'other'  | '186000' | 'kilometres' | '186000'           | '2200'    | 'saloon'    | 'diesel'  | 'automatic'  | '4'   | 'feed'      |
+------------------------------------+--------------+---------+-------------+-----------------+-----------+--------+----------+----------+--------------+--------------------+-----------+-------------+-----------+--------------+-------+-------------+
| '4fd37b51753ef073d242664cbe136b27' | '2016-08-08' | '5150'  | 'Tipperary' | 'toyota'        | 'yaris'   | '2007' | 'red'    | '65511'  | 'kilometres' | '65511'            | '1000'    | 'hatchback' | 'petrol'  | 'manual'     | '5'   | 'private'   |
+------------------------------------+--------------+---------+-------------+-----------------+-----------+--------+----------+----------+--------------+--------------------+-----------+-------------+-----------+--------------+-------+-------------+
| 'c4d50c214f33d26b070bea3afaef3f94' | '2016-09-06' | '350'   | 'Tipperary' | 'opel'          | 'astra'   | '2002' | 'silver' | '153000' | 'miles'      |         246229.632 | '1400'    | 'saloon'    | 'petrol'  | 'manual'     | '4'   | 'private'   |
+------------------------------------+--------------+---------+-------------+-----------------+-----------+--------+----------+----------+--------------+--------------------+-----------+-------------+-----------+--------------+-------+-------------+
| '3214bb3fd055ab19a2299f748338e6fd' | '2016-08-16' | '34950' | 'Clare'     | 'audi'          | 'a6'      | '2014' | 'black'  | '18800'  | 'miles'      | 30255.667200000004 | '2000'    | 'estate'    | 'diesel'  | 'manual'     | '5'   | 'trader'    |
+------------------------------------+--------------+---------+-------------+-----------------+-----------+--------+----------+----------+--------------+--------------------+-----------+-------------+-----------+--------------+-------+-------------+
...